#header {
    background-color: #f9c7c7;
}
  
#nav {
    background-color: #f8ff99;
}
  
#section {
    background-color: #ccd5ff;
}
body {
    width: 90%;
    margin-left: auto;
    margin-right: auto;
}  